# zig output
/zig-cache/
/zig-out/

# docs not needed for using the lib:
/doc/autogen/
# some more private stuff
/doc/literature/

# tz submodule
/tz/*
/tz/**

# building tzdata temporarily creates a directory:
/lib/tzdata/tmp/

